@import "tailwindcss";



@theme {
  --font-header: "Onest", "sans-serif";
  --color-background: #070622;
  --color-foreground: #0B2447;
  --color-primary: #C80036;
  --color-secondary: #FF9C73;
  --color-accent: #FA4032;
  --color-text: #eeeeee;
  --shadow-inset: 2px 2px 10px 0px #C80036 inset, -2px -2px 10px 0px #C80036 inset;
}

html {
  scroll-behavior: smooth;
}