@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: #C80036;
  --color-secondary: #FFF455;
  --color-accent: #FA4032;
}

@theme {
  --color-background: #070622;
  --color-foreground: #0B2447;
  --color-pricing: #07233a;
  --color-text: #eeeeee;
  --font-header: "Onest", "sans-serif";
  --shadow-inset: 2px 2px 10px 0px #C80036 inset, -2px -2px 10px 0px #C80036 inset;
}

html {
  scroll-behavior: smooth;
}

.animation-text {
  background: linear-gradient(to left, #C80036, #d1d5dc);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  background-position: end;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animation-text 5s infinite 12s;
}

@keyframes animation-text {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 200%;
  }
}